 .analytics strong.li_active{
    color:green;
}
.analytics strong.li_expiring_soon{
    color:orange;
}

.analytics strong.li_expired{
    color:red
}

.analytics strong.li_pending_review{
    color:blue
}